@mixin preamble {
  font-family: var(--preamble-font-family);
  font-weight: var(--preamble-font-weight);
  font-size: var(--preamble-mobile-font-size);
  line-height: var(--preamble-mobile-line-height);

  @media (min-width: 1024px) {
    font-size: var(--preamble-desktop-font-size);
    line-height: var(--preamble-desktop-line-height);
  }
}

@mixin paragraph-small {
  font-size: var(--p-mobile-small-font-size);
  line-height: var(--p-mobile-small-line-height);
  font-weight: var(--p-small-font-weight);

  @media (min-width: 1024px) {
    font-size: var(--p-desktop-small-font-size);
    line-height: var(--p-desktop-small-line-height);
  }
}
