@mixin h1 {
  color: var(--heading-color);
  font-size: var(--heading-1-mobile-fs);
  line-height: var(--heading-1-mobile-lh);
  margin: 0 0 var(--space-medium) 0;
  font-weight: var(--heading-font-weight);
  font-family: var(--font-family-heading);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: none;

  @media (min-width: 680px) {
    font-size: var(--heading-1-desktop-fs);
    line-height: var(--heading-1-desktop-lh);
    margin: 0 0 var(--space-large) 0;
  }
}

@mixin h2 {
  font-size: var(--heading-2-mobile-fs);
  line-height: var(--heading-2-mobile-lh);
  color: var(--heading-color);
  margin: 0 0 var(--space-medium) 0;
  font-weight: var(--heading-font-weight);
  font-family: var(--font-family-heading);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: none;

  @media (min-width: 680px) {
    font-size: var(--heading-2-desktop-fs);
    line-height: var(--heading-2-desktop-lh);
    margin: 0 0 var(--space-large) 0;
  }
}

@mixin h3 {
  font-size: var(--heading-3-mobile-fs);
  line-height: var(--heading-3-mobile-lh);
  color: var(--heading-color);
  margin: 0 0 var(--space-small) 0;
  font-weight: var(--heading-font-weight);
  font-family: var(--font-family-heading);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: none;

  @media (min-width: 680px) {
    font-size: var(--heading-3-desktop-fs);
    line-height: var(--heading-3-desktop-lh);
    margin: 0 0 16px 0;
  }
}

@mixin h4 {
  font-size: var(--heading-4-mobile-fs);
  line-height: var(--heading-4-mobile-lh);
  line-height: 24px;
  color: var(--heading-color);
  margin: 0 0 3px 0;
  font-weight: 650;
  font-family: var(--font-family-base);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: none;

  @media (min-width: 680px) {
    font-size: var(--heading-4-desktop-fs);
    line-height: var(--heading-4-desktop-lh);
  }
}

@mixin h5 {
  font-size: var(--heading-5-mobile-fs);
  line-height: var(--heading-5-mobile-lh);
  color: var(--heading-color);
  margin: 0 0 2px 0;
  font-weight: 650;
  font-family: var(--font-family-base);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: none;

  @media (min-width: 680px) {
    font-size: var(--heading-5-desktop-fs);
    line-height: var(--heading-5-desktop-lh);
  }
}

@mixin h6 {
  font-size: var(--heading-6-mobile-fs);
  line-height: var(--heading-6-mobile-lh);
  color: var(--heading-color);
  margin: 0 0 2px 0;
  font-weight: 650;
  font-family: var(--font-family-base);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: none;

  @media (min-width: 680px) {
    font-size: var(--heading-6-desktop-fs);
    line-height: var(--heading-6-desktop-lh);
  }
}
